.button {
  z-index: 22;
  position: absolute;

  margin-top: 2vh;

  left: 91.5%;

  color: white;

  background: rgba(59, 59, 59, 0.788);
  border-radius: 1vh;
  font-size: 25px;
}

.button:hover {
  background: rgba(87, 87, 87, 0.788);
  transform: scale(1.05);
}

.actionStopper {
  z-index: 30;
  position: absolute;
  width: 100%;
  height: 100%;
}

.MyClassEnterActive {
  animation: showButton 900ms ease-in-out;
}
.MyClassEnterDone {
}

.MyClassExit {
  animation: hideButton 900ms ease-in-out;
}
.MyClassExitActive {
}

@keyframes showButton {
  0% {
    left: 120%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideButton {
  0% {
    opacity: 1;
  }
  100% {
    left: 120%;
    opacity: 0;
  }
}

@media screen and (max-width: 1800px) {
  .button {
    left: 1%;
    font-size: 4vh;
  }

  @keyframes showButton {
    0% {
      left: -15%;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes hideButton {
    0% {
      opacity: 1;
    }
    100% {
      left: -15%;
      opacity: 0;
    }
  }
}
