.button {
  display: inline-block;
  border: none;
  padding: 0.7rem 1.5rem 0.7rem 1.3rem;
  background: rgba(15, 15, 15, 0.712);
  color: rgba(248, 247, 247, 0.925);

  text-decoration: none;
  font-size: 3rem;

  line-height: 1;
  cursor: pointer;
  text-align: center;

  border-radius: 20%;
  transition: all 0.1s ease-in-out;
}

.MyClassEnterActive {
  animation: showButton 900ms ease-in-out;
}
.MyClassEnterDone {
}

.MyClassExit {
  animation: hideButton 900ms ease-in-out;
}
.MyClassExitActive {
}

@keyframes showButton {
  0% {
    left: -20%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideButton {
  0% {
    opacity: 1;
  }
  100% {
    left: -20%;
    opacity: 0;
  }
}
