.button {
  z-index: 22;
  position: absolute;
  top: 1%;
  left: 91.5%;
  transform: translate(2%, 5%);
  color: white;
  background: rgba(59, 59, 59, 0.788);
  border-radius: 10px;
  font-size: 25px;
}

.button:hover {
  background: rgba(87, 87, 87, 0.788);
}

.MyClassEnterActive {
  animation: showButton 900ms ease-in-out;
}
.MyClassEnterDone {
}

.MyClassExit {
  animation: hideButton 900ms ease-in-out;
}
.MyClassExitActive {
}

@keyframes showButton {
  0% {
    left: 120%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideButton {
  0% {
    opacity: 1;
  }
  100% {
    left: 120%;
    opacity: 0;
  }
}
