.list {
  position: absolute;
  z-index: 22;

  letter-spacing: 1.3px;
  text-align: left;
  list-style-type: none;

  transition-duration: 0.45s;
  text-align: center;
}

.listItem {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.hoverable {
  transition: transform 0.2s ease-in-out;
}
.hoverable:hover {
  transform: translate(8px);
}

.highlighted {
  font-weight: bold;

  min-width: 110px;

  border-top: 1px solid white;
  border-bottom: 1px solid white;

  padding-left: 3px;
}

.MyClassEnterActive {
  left: -20%;
}
.MyClassEnterDone {
  animation: showNav 0.4s ease-out forwards;
}

.MyClassExit {
  animation: hideNav 0.5s ease-out forwards;
}
.MyClassExitActive {
}

@keyframes showNav {
  0% {
    opacity: 0;
    transform: translate(-200px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideNav {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-250px);
  }
}

@media screen and (max-width: 800px) {
  .listItem {
    font-size: 1rem;
  }

  .highlighted {
    min-width: 60px;
  }
}

@media screen and (max-width: 600px) {
  .list {
    margin-left: -3%;
    margin-top: -7%;
  }

  .listItem {
    font-size: 0.8rem;
  }

  .highlighted {
    min-width: 50px;
  }

}
