.circle {
  margin: auto;

  position: fixed;
  z-index: 20;

  left: 8.35%;
  bottom: 50%;
  top: 50%;

  border: 54vh solid #0b0b0b;
  border-radius: 50%;
}

.MyClassEnterActive {
  animation: openModal 900ms ease-out forwards;
}

.MyClassEnterDone {
  width: 0px;
  height: 0px;
  left: 49%;
}

.MyClassExit {
  animation: closeModal 600ms ease-out forwards;
}

.MyClassExitActive {
}

@keyframes openModal {
  0% {
    width: 161vh;
    height: 161vh;
    left: 8.35%;
  }
  100% {
    width: 0px;
    height: 0px;
    left: 49%;
  }
}

@keyframes closeModal {
  0% {
    width: 0px;
    height: 0px;
    left: 36%;
  }

  100% {
    width: 161vh;
    height: 161vh;
    left: 20%;
    border: 0px solid #0b0b0b;
  }
}
