.list {
  position: absolute;
  z-index: 21;

  letter-spacing: 1.3px;
  text-align: left;
  list-style-type: none;

  transition-duration: 0.3s;

}

.listItem {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.hoverable {
  transition: transform 0.2s ease-in-out;
}
.hoverable:hover {
  transform: translate(7px);
}

.highlighted {
  font-weight: bold;

  min-width: 110px;

  border-top: 1px solid white;
  border-bottom: 1px solid white;

  padding-left: 3px;
}
