.list {
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 21;
  
  list-style-type: none;
}

.listItem{
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.highlighted {
  font-weight: bold;
}

